<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<!--Para cuando no usa la autenticación de windows (y es remota)-->
		<add name="csRemota" connectionString="Server=192.168.1.149,1433; Database=PA2; User Id=prueba; Password = 123"/>
		<!--Para cuando usa la autenticación de windows-->
		<add name="csAccess" connectionString="Server=localhost\sqlexpress; Database=PA2; Trusted_Connection = true"/>
		<add name="cs" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=G:\Mi unidad\2021\Programación Aplicada II\Clases Grabadas\Unidad IV\Clase 04\PA2AccessComp.mdb;User Id=admin;Password=;"/>
	</connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
</configuration>