<?xml version="1.0"?>
<configuration>
	<connectionStrings>		
		<!--Para cuando usa la autenticación de windows-->
		<add name="cs" connectionString="Server=localhost\SQLEXPRESS2008; Database=ProgramacionAplicada2; Trusted_Connection = true"/>
	</connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
</configuration>